# Functions

## Basic definition

In [ ]:
def pow_of_two(x):
    '''
    Given a number, returns its power of two
    : param x (int): the base
    : return (int): the power of two of x
    '''
    y = x*x
    return y

Now see what happens putting the mouse over the name of the function in the following block

In [ ]:
pow_of_two(3)

9

Functions can return multiple values as a tuple

In [ ]:
def pow_of_two_and_three(some_value):
    '''
    Given a number, returns its power of two
    : param x (int): the base
    : return (int, int): x^2 and x^3
    '''
    y = some_value*some_value
    z = y*some_value
    return y, z

In [ ]:
pow_of_two_and_three(3)

(9, 27)

In these cases, it is possible to assign each value to a different variable if the number of returned values is equal to the number of variables

In [ ]:
a, b = pow_of_two_and_three(2)
print("a:",a)
print("b:",b)

a: 4
b: 8

## Visibility of variables

Exercises done in the classroom

In [ ]:
a1 = 5
def test1():
    a1 = 7
    print(a1)

print(a1)
test1()

5
7

In [ ]:
b2 = 5
def test2():
    print(b2)
    a2 = 7
    print(a2)

test2()
print(a2)

5
7

NameError: name 'a2' is not defined

In [ ]:
b3 = 5
def test3():
    print(b3)
    a3 = 7
    b3 = 3
    print(a3)

test3()

UnboundLocalError: local variable 'b3' referenced before assignment

In [ ]:
b4 = 5
def test4(b4):
    print(b4)
    b4 = 3
    print(b4)

test4(11)

11
3

## Exercises

### Exercise 1
Write a function `max_of_3` that takes three numbers and returns the highest among them.

In [ ]:
def max_of_3(first,second,third):
    if(type(first)!=int or
       type(second)!=int or
       type(third)!=int ):
       print("ERROR")
       return None
    temp_max = first
    if first > second:
        temp_max=first
    else:
        temp_max = second

    if temp_max < third:
        temp_max = third

    return temp_max

In [ ]:
print(max_of_3("pizza","burger",4))
# DO NOT TOUCH THIS, JUST RUN IT TO TEST YOUR FUNCTION
print(max_of_3(10,3,2)==10)
print(max_of_3(4,3,10)==10)
print(max_of_3(4,10,4)==10)

ERROR
None
True
True
True

### Exercise 2
Write two functions. `min_of_three` takes three numbers and returns the lowest among them. `min_and_max_of_three` takes three numbers, then invokes the previous two functions to return the highest and the lowest (in this order).

In [ ]:
def min_of_3(first,second,third):
    if(type(first)!=int or
       type(second)!=int or
       type(third)!=int ):
       print("ERROR")
       return None
    temp_min = first
    if first < second:
        temp_min=first
    else:
        temp_min = second

    if temp_min > third:
        temp_min = third

    return temp_min

In [ ]:
# DO NOT TOUCH THIS, JUST RUN IT TO TEST YOUR FUNCTION
print(min_of_3(10,3,2)==2)
print(min_of_3(4,3,10)==3)
print(min_of_3(4,10,4)==4)

True
True
True

In [ ]:
def min_and_max_of_three(first,second,third):
    max = max_of_3(first,second,third)
    min = min_of_3(first,second,third)
    return max,min

In [ ]:
# DO NOT TOUCH THIS, JUST RUN IT TO TEST YOUR FUNCTION
print(min_and_max_of_three(10,3,2)==(10,2))
print(min_and_max_of_three(4,3,10)==(10,3))
print(min_and_max_of_three(4,10,4)==(10,4))

True
True
True

## Optional Parameters and Args

### *Args

We can use `*args` to allow the function to receive more arguments

In [ ]:
def sum_of_some_numbers(num1, num2, *args):
    b = num1 + num2
    for num in args:
        b = b+num
    return b

In [ ]:
print(sum_of_some_numbers(3,4))

7

In [ ]:
print(sum_of_some_numbers(3,4,6,10))

23

### Default and optional parameters

We can specify a default value for certain parameters, making them  optional.
Mandatory parameters must be specified BEFORE optional ones.

In [ ]:
def power_and_sum(base, exp=2, sum=0):
    '''
    Function to compute the power of a number. The default is power of two.
    Then adds a number, the default is zero.
    '''
    tot = 1
    for i in range(exp):
        tot = tot * base
    return tot+sum

In [ ]:
# the default behaviour is the power of 2
power_and_sum(3) # 3^2

9

In [ ]:
# we can specify the optional arguments in order
power_and_sum(3,4) # 3^4

81

In [ ]:
# we can specify the optional arguments by name
power_and_sum(3, sum=5) # 3^2 + 5

14

In [ ]:
# if we specify the names of the arguments, the order does not matter
power_and_sum(exp=4, sum=5, base=3) # 3^4 + 5

86

## Recursive calls

In [ ]:
def summatory(num):
    """
    Given a number, returns its summatory from 0
    : param num (int): the final number
    : return (int): the summatory from 0 to num
    """
    tot = 0 # we start from 0
    for i in range(num+1):
        print("Current tot: ", tot, " we add: ", i)
        tot += i # we add the numbers one step at time
    return tot # we return the final result

In [ ]:
summatory(4)

Current tot:  0  we add:  0
Current tot:  0  we add:  1
Current tot:  1  we add:  2
Current tot:  3  we add:  3
Current tot:  6  we add:  4

10

In [ ]:
def recurive_summatory(num, sum=0):
    print("Current call: num=",num, " sum=", sum)
    if num == 0:
        return sum
    else:
        x = sum + num
        y = recurive_summatory(num-1, x)
        return y

In [ ]:
recurive_summatory(4)

Current call: num= 4  sum= 0
Current call: num= 3  sum= 4
Current call: num= 2  sum= 7
Current call: num= 1  sum= 9
Current call: num= 0  sum= 10

10

## Exercises

### Exercise 3
Write a function `concat_strings_list` that takes a list of strings and concatenates them together

In [ ]:
def concat_strings_list(list_of_strings):
    final_string = ""
    for string in list_of_strings:
        final_string = final_string+string
    return final_string

In [ ]:
print(concat_strings_list(["hello","how","are","you","doing"]))

hellohowareyoudoing

In [ ]:
print(concat_strings_list(["pizza","margherita"])=="pizzamargherita")
print(concat_strings_list(["hello","how","are","you","doing"])=="hellohowareyoudoing")

True
True

### Exercise 4
Modify the function `concat_strings_list` to accept two optional parameters: `sep=""` is a character that separates the strings; `reverse=False` is a boolean, when it is true the concatenation must start from the last string and reach the first one. For example


```
concat_strings(["Hello","how","are","you"], sep="-", reverse=True)
```
produces
```
"you-are-how-Hello"
```

In [ ]:
def concat_strings_list(list_of_strings, sep="-", reverse="True"):
    final_string = ""
    counter = 0
    if reverse:
        for string in list_of_strings:
            final_string = string+final_string
            counter+=1
            if (counter!=len(list_of_strings)):
                final_string =sep+final_string
    else:
        for string in list_of_strings:
            final_string = final_string+string
            counter+=1
            if (counter!=len(list_of_strings)):
                final_string = final_string + sep
    return final_string

In [ ]:
concat_strings_list(["Hello","how","are","you"], sep="-", reverse=True)

'you-are-how-Hello'

### Exercise 5
Write a function `concat_strings` that takes a any number of strings (NOT AS A LIST) and concatenates them together (no optional parameters)

In [ ]:
def concat_strings_list(*args):
    final_string = ""
    for string in args:
        final_string = final_string+string
    return final_string

In [ ]:
print(concat_strings_list("hello","how","are","you","doing"))

hellohowareyoudoing

# Objects

The following code is what we have seen in class

## Basics

### Person Class

In [ ]:
class Person(object):

    # constructor
    def __init__(self, name, familyName):
        self.name = name
        self.familyName = familyName

    # instance method
    def introduce(self):
        print("Hello, I'm", self.name, self.familyName)

### Access to attributes
We can access to attributes and methods with the dot notation

In [ ]:
p1 = Person('Andrea', 'Galassi')

p1.introduce()

Hello, I'm Andrea Galassi

In [ ]:
print(p1.name)

Andrea

### Professor subclass

In [ ]:
class Professor(Person):
    # constructor
    def __init__(self, name, familyName, course):
            super().__init__(name, familyName) # invoke parent
            self.course = course

    # new instance method
    def printCourse(self):
        print(self.name, self.familyName, self.course)

    def introduce(self): # overriding
        super().introduce() # invoke parent method
        print("and I teach", self.course)

In [ ]:
p1 = Person('Andrea', 'Galassi')
p2 = Professor('Paolo', 'Torroni','RTSA')

p1.introduce()

p2.introduce()

Hello, I'm Andrea Galassi
something else

In [ ]:
p2.printCourse()

Paolo Torroni RTSA

### IsInstance and IsSubclass

In [ ]:
p1 = Person('Andrea', 'Galassi')
p2 = Professor('Paolo', 'Torroni','RTSA')
print("Is p1 instance of Professor?", isinstance(p1, Professor)) # prints ???
print("Is p1 instance of Person?", isinstance(p1, Person)) # prints ???
print("Is p2 instance of Professor?", isinstance(p2, Professor)) # prints ???
print("Is p2 instance of Person?", isinstance(p2, Person)) # prints ???

Is p1 instance of Professor? False
Is p1 instance of Person? True
Is p2 instance of Professor? True
Is p2 instance of Person? True

In [ ]:
print("Is Professor subclass of Person?", issubclass(Professor, Person))
print("Is Person subclass of Professor?", issubclass(Person, Professor))

Is Professor subclass of Person? True
Is Person subclass of Professor? False

## Equality and Identity
We can override the operator == by defining the class `__eq__`

In [ ]:
class Person(object):

    # constructor
    def __init__(self, name, familyName):
        self.name = name
        self.familyName = familyName

    # instance method
    def introduce(self):
        print("Hello, I'm", self.name, self.familyName)

    # overriding of ==
    def __eq__(self, otherPerson):
        x = (self.name==otherPerson.name)
        y = (self.familyName==otherPerson.familyName)
        return (type(otherPerson)==Person and x and y)


class Professor(Person):
    def __init__(self, name, familyName, course):
            super().__init__(name, familyName) # invoke parent
            self.course = course

    def printCourse(self):
        print(self.name, self.familyName, self.course)

    def introduce(self): # overriding
        super().introduce() # invoke parent method
        print("and I teach", self.course)

    # overriding of ==
    def __eq__(self, otherProfessor):
        return (type(otherProfessor)==Professor and
                self.name==otherProfessor.name and
                self.familyName==otherProfessor.familyName
                and self.course==otherProfessor.course
                )

We can test equality and identity with `==` and with `is`

In [ ]:
p1a = Person('Andrea', 'Galassi')
p1b = Person('Andrea', 'Galassi')

print("The identity of p1a is", id(p1a))
print("The identity of p1b is", id(p1b))

print("Are they equal?", p1a==p1b)
print("Are they the same?", p1a is p1b)

The identity of p1a is 133318567019136
The identity of p1b is 133318567027776
Are they equal? True
Are they the same? False

What happens if we compare a Person and a Professor?

In [ ]:
p1 = Person('Andrea', 'Galassi')
p3 = Professor('Andrea', 'Galassi','RTSA')


print(p1==p3)
# print(p3==p1)

False

## Class Variables and Methods

Let's change Person adding a class variable (species) and a class method (change_species)

In [ ]:
class Person(object):

    # constructor
    def __init__(self, name, familyName):
        self.name = name
        self.familyName = familyName

    # instance method
    def introduce(self):
        print("Hello, I'm", self.name, self.familyName)

    @classmethod
    def change_species(cls, newspecies): # class method
        cls.species = newspecies
    # change_species = classmethod(change_species)

    species = "homo sapiens" # class variable

Professor remains the same

In [ ]:
class Professor(Person):
    # constructor
    def __init__(self, name, familyName, course):
            super().__init__(name, familyName) # invoke parent
            self.course = course

    # new instance method
    def printCourse(self):
        print(self.name, self.familyName, self.course)

    def introduce(self): # overriding
        super().introduce() # invoke parent method
        print("and I teach", self.course)

In [ ]:
p1 = Person('Andrea', 'Galassi')
p2 = Professor('Paolo', 'Torroni','RTSA')

p1.introduce()

p2.introduce()

Hello, I'm Andrea Galassi
Hello, I'm Paolo Torroni
and I teach RTSA

### Class variables

It is possible to access to the class variable throught the name of the class

In [ ]:
print(Person.species)

homo sapiens

It is possible to access to the class variable  throught the name of the instances of the class

In [ ]:
print(p1.species)

homo sapiens

it is possible to access to the class variable throught the name of the instances of any subclass

In [ ]:
print(Professor.species)

homo sapiens

In [ ]:
print(p2.species)

homo sapiens

If we modify the variable from the class, the change is propagated to each instance

In [ ]:
Person.species = "human"
print(Person.species)
print(p1.species)
print(p2.species)

human
human
human

If we modify it from an instance, we are creating an instance attribute that override the class variable, with two consequences. First of all, the change is only local.

In [ ]:
p1.species = "human being"
print(Person.species)
print(p1.species)
print(p2.species)

human
human being
human

Second, any future change to the class variable will be "hidden" for that instance

In [ ]:
Person.species = "homo sapiens"
print(Person.species)
print(p1.species)
print(p2.species)

homo sapiens
human being
homo sapiens

### Class methods

Let's reset our instances

In [ ]:
p1 = Person('Andrea', 'Galassi')
p2 = Professor('Paolo', 'Torroni','RTSA')

We can call the class method from the class name

In [ ]:
Person.change_species("homo sapiens sapiens")

print(Person.species)
print(p1.species)
print(p2.species)

homo sapiens sapiens
homo sapiens sapiens
homo sapiens sapiens

But we also call it from any instance

In [ ]:
p1.change_species("alien")
print(Person.species)
print(p1.species)
print(p2.species)

alien
alien
alien

## Using *args in the constructor
We can user *args to decouple the constructor of the child from the constructor of the parent.
This way, we do not need to worry about superclass parameters in the subclasses.

The superclass remain the same, we only change the subclass

In [ ]:
# remains the same
class Person(object):

    # constructor
    def __init__(self, name, familyName):
        self.name = name
        self.familyName = familyName

    # instance method
    def introduce(self):
        print("Hello, I'm", self.name, self.familyName)

    @classmethod
    def change_species(cls, newspecies):
        cls.species = newspecies

    species = "homo sapiens"


# the constructor changes
class Professor(Person):
    # constructor
    def __init__(self, course, *args): # agnostic about the parents' parameters
        super().__init__(*args) # invokes parent over arguments
        self.course = course # assigns the specific attribute

    # new instance method
    def printCourse(self):
        print(self.name, self.familyName, self.course)

    def introduce(self): # overriding
        super().introduce() # invoke parent method
        print("and I teach", self.course)

In [ ]:
p1 = Person('Andrea', 'Galassi')
p2 = Professor('RTSA', 'Paolo', 'Torroni') # the first argument must be the more specific

p1.introduce()

p2.introduce()

Hello, I'm Andrea Galassi
Hello, I'm Paolo Torroni
and I teach RTSA

## Multiple Inheritance

In [ ]:
class Person(object):
    def __init__(self, name, familyName):
        self.name = name
        self.familyName = familyName

class Student(Person):
    def __init__(self, course, *args):
        super().__init__(*args)
        self.course = course

class Worker(Person):
    def __init__(self, job, *args):
        super().__init__(*args)
        self.job = job

class WorkingStudent(Worker, Student):
    def __init__(self, *args):
        super().__init__(*args)

In [ ]:
print(WorkingStudent.mro())

[<class '__main__.WorkingStudent'>, <class '__main__.Worker'>, <class '__main__.Student'>, <class '__main__.Person'>, <class 'object'>]

In [ ]:
ws = WorkingStudent('researcher', 'RTSA', 'Andrea', 'Galassi')

In [ ]:
print('Name:', ws.name)
print('Family:', ws.familyName)
print('Job:', ws.job)
print('Course:', ws.course)

Name: Andrea
Family: Galassi
Job: researcher
Course: RTSA

## Exercise 6
Create a new Class, that is subclass of `Person`.
The class is `Artist`.
* It has one attribute that is `art_field`, which is a string.
* Override `introduce()` so that the `art_field` is printed.
* Override `==` to compare `name`, `family_name` and the `art_field` (after checking that the type is `Artist`!)

In [ ]:
class Person(object):

    # constructor
    def __init__(self, name, familyName):
        self.name = name
        self.familyName = familyName

    # instance method
    def introduce(self):
        print("Hello, I'm", self.name, self.familyName)

    def __eq__(self, other):
        return(self.name==other.name and self.familyName==other.Familyname)

In [ ]:
class Artist(Person):

    # constructor
    def __init__(self, art_field, *args):
        super().__init__(*args)
        self.art_field=art_field

    # instance method
    def introduce(self):
        super().introduce()
        print("I work in ", self.art_field)

    def __eq__(self, other):
        return(type(self)==type(other) and self.name==other.name and self.familyName==other.Familyname and
               self.art_field==other.art_field)

In [ ]:
a = Artist("cinema", "Marcello", "Mastroianni")
print(a)
print(a.name)

a.introduce()

print(a == b)

<__main__.Artist object at 0x7940a5b12e90>
Marcello
Hello, I'm Marcello Mastroianni
I work in  cinema